pytest>=8.3.4
pytest-asyncio>=0.24.0
httpx>=0.28.1
aiogram>=3.23.0
python-dotenv>=1.2.1
requests>=2.32.0
qrcode[pil]>=7.4.2
SQLAlchemy>=2.0.36
alembic>=1.13.3
fastapi>=0.126.0
python-multipart>=0.0.20
uvicorn>=0.38.0
psycopg[binary]>=3.2.0
